@page "/products"
@using Blazor.Shared
@inject HttpClient Http
@inject Blazor.Extensions.Storage.SessionStorage sessionStorage

<h3>Products</h3>
@if (products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Price</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in products)
            {
                var isInCart = IsInCart(product.Sku);
                CartItemModel cartItem;
                if (isInCart)
                {
                    cartItem = cart[product.Sku];
                }
                else
                {
                    cartItem = new CartItemModel() { Product = product };
                }

                <tr>
                    <ProductCartItem cartItemModel="@cartItem" IsInCart="isInCart" OnClick="@(() => UpdateCart(cartItem.Product.Sku, cartItem.Quantity))" />
                </tr>
            }
        </tbody>
    </table>
    <h3>Cart</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Quanitity</th>
                <th>Price</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cartItem in cart)
            {
                double price = cartItem.Value.Product.Price * cartItem.Value.Quantity;
                <tr>
                    <td>@cartItem.Value.Product.Title</td>
                    <td>@cartItem.Value.Quantity</td>
                    <td>$@price </td>
                    <td><button @onclick="@(e => RemoveFromCart(cartItem.Key))">Remove</button></td>
                </tr>
            }
        </tbody>
    </table>
}
@code {

    List<ProductModel> cartItems;
    ProductModel[] products;
    Dictionary<string, CartItemModel> cart = new Dictionary<string, CartItemModel>();

    public AddToCartModel addToCartModel = new AddToCartModel();
    string cartKey = "cartItems";

    protected override async Task OnInitializedAsync()
    {


        Dictionary<string, CartItemModel> fromSession = await sessionStorage.GetItem<Dictionary<string, CartItemModel>>(cartKey);

        if(fromSession != null)
            cart = fromSession;


        products = await Http.GetJsonAsync<ProductModel[]>("api/Products/Products");

    }

    private bool IsInCart(string sku)
    {
        return cart.ContainsKey(sku);
    }

    public async void UpdateCart(string sku, int quantity)
    {
        if (quantity > 0)
        {
            if (!IsInCart(sku))
            {
                var product = products.First(p => p.Sku == sku);
                AddToCart(sku, new CartItemModel() { Product = product, Quantity = quantity });
            }
            else
            {
                cart[sku].Quantity = quantity;
            }
        }
        else
        {
            RemoveFromCart(sku);
        }

        await sessionStorage.SetItem<Dictionary<string, CartItemModel>>(cartKey, cart);

        base.StateHasChanged();
    }
    private void AddToCart(string sku, CartItemModel cartitemModel)
    {

        if (!cart.ContainsKey(sku))
            cart.Add(sku, cartitemModel);


        base.StateHasChanged();
    }

    private void RemoveFromCart(string sku)
    {
        if (cart.ContainsKey(sku))
            cart.Remove(sku);
    }


}
