
@using Blazor.Shared

@if (cartItemModel == null)
{
    <p>loading...</p>
}
else
{
    var buttonText = IsInCart ? "Update" : "Add";

    <td>@cartItemModel.Product.Title</td>
    <td>$@cartItemModel.Product.Price</td>
    <td>@cartItemModel.Product.Quantity left</td>
    <td>
        <EditForm Model="@cartItemModel" OnSubmit="@OnClick">
            <InputNumber @bind-Value="@cartItemModel.Quantity"></InputNumber>
            <button type="submit">@buttonText</button>
        </EditForm>
    </td>

}
@code {

    [Parameter]
    public CartItemModel cartItemModel {get;set;}

    [Parameter]
    public bool IsInCart { get; set; }

    [Parameter]
    public Action OnClick { get; set; }




}
